.main {
    width: 100%;
    background-color: #e8e8e8;
    padding-top: 20px;
}

.main-background {
    position: relative;
    height: 600px;
    background-image: url('../images/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.main-content h1 {
    font-size: 3em;
    font-weight: 400;
    color: var(--white);
}

.services-section {
    padding: 60px 0;
    background-color: #f0f0f0;
}

.services-grid h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
    color: #333;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.services-grid h2 {
    grid-column: 1 / -1;
}

.services-grid-item {
    border-left: 2px solid #B02117 !important;
    border-radius: 2px;
    padding: 30px;
    background-color: white;
}

.services-grid-item h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
    font-style: italic;
}

.services-grid-item p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #666;
    font-style: italic;
}

.aboutus-section {
    padding: 60px 0;
    background-color: #f0f0f0;
}

.image-background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #B02117;
    background-color: white;
    min-height: 400px;
    background-image: url('../images/car-background1.jpg');
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.aboutus-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.aboutus-content h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
    color: #333;
}

.aboutus-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    font-style: italic;
}