.services-heading {
    text-align: center;
    padding: 40px 0 40px 0;
    background-color: lightgray;
    margin-bottom: 60px;
    margin-top: 64px;
}

.services-heading h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
    color: #333;
    margin: 0;
}

.maintinence-section, .custom-fab-section, .restoration-section {
    margin-bottom: 40px;
    background-color: white;
    padding: 80px;
    width: 70%;
}

.maintinence-section {
    margin-left: 0;
    margin-right: auto;
    border: 2px solid var(--dark-red);

}

.custom-fab-section {
    margin-left: auto;
    border: 2px solid var(--orange);

    margin-right: 0;
}

.restoration-section {
    margin-left: 0;
    border: 2px solid var(--dark-red);
 
    margin-right: auto;
}

.maintinence-content, .custom-fab-content, .restoration-content {
    max-width: 100%;
}

.maintinence-content h3, .custom-fab-content h3, .restoration-content h3 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 25px;
    color: #333;
}

.maintinence-content p, .custom-fab-content p, .restoration-content p {
    font-size: 1em;
    line-height: 1.8;
    color: #666;
    font-style: italic;
}